.product-content
    display: flex
    justify-content: space-between
.product-gallery, 
.product-info
    width: 48%
    flex-shrink: 0
.product-fast-info
    display: flex
    justify-content: space-between
    margin-bottom: 25px
.product-specification
    width: 60%
    display: flex
    flex-direction: column
.product-callback
    width: 35%
    position: relative
    padding-left: 30px
    .icon
        +size(20px)
        position: absolute
        top: 0
        left: 0
.product-callback__phone,
.product-callback__link
    display: inline-block
    margin-bottom: 10px
.product-callback__link
    border-bottom: 1px dotted $gray-color
.product-callback__text
    font-size: rem(15)
    line-height: 1.3
.product-specification-list
    display: flex
    margin-top: auto
    &__item
        margin-right: 5px
        &:last-child
            margin-right: 0
    .icon
        +size(17px)
.product-price-info
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: 25px

.product-feedback
    width: 35%
    .icon
        +size(17px)
        margin-right: 10px
.product-price
    font-family: $bold-font
    font-size: rem(32)
.product-buttons
    margin-bottom: 25px
    .g-btn
        width: 48%
.product-actions
    display: flex
    align-items: center
    margin-bottom: 30px
.product-action
    margin-right: 20px
    &:last-child
        margin-right: 0
    .icon
        +size(17px)
        margin-right: 10px
        vertical-align: middle
    a
        border-bottom: 1px dotted $menu-border-color
.product-line
    display: flex
    justify-content: space-between
.product-delivery,
.product-guarantee
    width: 48%
.product-title-icon
    margin-bottom: 15px
    .icon
        margin-right: 10px
        vertical-align: middle
    .icon-delivery
        +size(34px, 27px)
    .icon-guarantee
        +size(27px)
.product-delivery__info
    background-color: $light-gray-color
    padding: 15px
    margin-bottom: 20px
    span
        display: block
        &:first-child
            margin-bottom: 15px
.product-delivery__city
    margin-bottom: 10px
.product-delivery-variants__item
    position: relative
    display: block
    line-height: 1
    &:before
        content: ''
        display: block
        position: absolute
        top: 2px
        left: -7px
        +size(5px)
        background-color: $black-color
.product-gallery-nav__item
    cursor: pointer
    &:focus
        outline: none
    img
        +size(100px)
        &:focus
            outline: none
.product-gallery-main
    position: relative
.product-gallery__controls
    position: absolute
    top: 50%
    transform: translateY(-50%)
    background-color: $light-gray-color
    +size(45px)
    z-index: 1
    cursor: pointer
    .icon
        +absolute-center
        +size(11px, 17px)
.product-gallery__controls.product-gallery__controls--prev
    left: 0
.product-gallery__controls.product-gallery__controls--next
    right: 0
.share
    position: relative
    &:hover
        .share-popup
            display: block
.share-popup
    display: none
    padding: 25px
    background-color: #fff
    box-shadow: 4px 0 16px 0 rgba(#000, 0.12)
    position: absolute
.share-line
    display: flex
    margin-bottom: 15px
    &:last-child
        margin-bottom: 0
    a
        white-space: nowrap


