mixin mainNavLink(title)
    li.main-nav__item
            a(href="https://www.crowdcast.io/e/cc-bg.mp4").main-nav__link= title
nav.main-nav
    ul.main-nav__list
        +mainNavLink('Мебель')
        +mainNavLink('Бытовая техника')
        +mainNavLink('Хранение вина')
        +mainNavLink('Посуда')
        +mainNavLink('Ножи')
        +mainNavLink('Бар и хрусталь')
        +mainNavLink('Сервировка')
        +mainNavLink('Кухонная утварь')
        +mainNavLink('Текстиль')
.header-search
    +icon('search')
        
         
        
        
         
        