.pic-menu__50
    .pic-menu__50--big
        .pic-menu__item(style="background-image:url(assets/img/pic-menu/appliances.jpeg)")
            .pic-menu__nav
                    a(href="#").pic-menu__title Крупная и мелкая бытовая техника
                    ul.pic-menu-list
                        li.pic-menu-list__item
                            a(href="#") Холодильники
                        li.pic-menu-list__item
                            a(href="#") Морозильники
                        li.pic-menu-list__item
                            a(href="#") Варочные центры
                        li.pic-menu-list__item
                            a.next(href="#") Еще 10 разделов
                        li.pic-menu-list__item
                            a(href="#") Кулеры
                        li.pic-menu-list__item
                            a(href="#") Пурефаеры
                        li.pic-menu-list__item
                            a(href="#") Чайники
                        li.pic-menu-list__item
                            a.next(href="#") Еще 27 разделов
    .pic-menu__line
        .pic-menu__25
            .pic-menu__item(style="background-image:url(assets/img/pic-menu/furniture.jpeg)")
                .pic-menu__nav
                    a(href="#").pic-menu__title Мебель
                    ul.pic-menu-list
                        li.pic-menu-list__item
                            a(href="#") Кухни
                        li.pic-menu-list__item
                            a(href="#") Столы
                        li.pic-menu-list__item
                            a(href="#") Стулья
                        li.pic-menu-list__item
                            a(href="#") Барная мебель
                        li.pic-menu-list__item
                            a.next(href="#") Еще 15 разделов 
        .pic-menu__25
            .pic-menu__item(style="background-image:url(assets/img/pic-menu/vine.jpeg)")
                .pic-menu__nav
                    a(href="#").pic-menu__title Хранение вина
                    ul.pic-menu-list
                        li.pic-menu-list__item
                            a(href="#") Мебель для хранения
                        li.pic-menu-list__item
                            a(href="#") Винные шкафы
                        li.pic-menu-list__item
                            a.next(href="#") Еще 3 раздела
    
            
