section.recommended
    .container
        h2.g-section-title Рекомендуемые товары
        .recommended-slider
            .js-recommended-slider
                .product-prev
                    img(src="assets/img/products/product1/prev.jpeg", alt="").product-prev__img
                    .product-prev__content
                        a(href="#").product-prev__title Набор бокалов для красного вина серия Frau, SHOTT ZWISSEL
                        .product-prev__line-info
                            span.product-prev__key Материал:
                            span.product-prev__val  хрустальное стекло
                        .product-prev__line-info
                            span.product-prev__key Высота:
                            span.product-prev__val  22.9 см
                        .product-prev__line-info
                            span.product-prev__key Диаметр:
                            span.product-prev__val  9.1 см
                        .product-prev__line-info
                            span.product-prev__key Назначение:
                            span.product-prev__val  для красного вина
                        .product-prev__line__price
                            span.product-prev__price 635 &#8381;
                            .product-price__availability
                                +icon('check')
                                span Есть в наличии
                        .product-prev__line-action
                            .product-prev__favorite
                                +icon('heart')
                                span В избранное
                            .product-prev__compare
                                +icon('scales')
                                span Сравнить
                        .product-prev__btn
                            a(href="#").g-btn.g-btn__black В корзину
                .product-prev
                    img(src="assets/img/products/product2/prev.jpeg", alt="").product-prev__img
                    .product-prev__content
                        a(href="#").product-prev__title Набор чайный "Ричоло" Chinelly
                        .product-prev__line-info
                            span.product-prev__key Материал:
                            span.product-prev__val  хрустальное стекло
                        .product-prev__line-info
                            span.product-prev__key Высота:
                            span.product-prev__val  22.9 см
                        .product-prev__line-info
                            span.product-prev__key Диаметр:
                            span.product-prev__val  9.1 см
                        .product-prev__line-info
                            span.product-prev__key Назначение:
                            span.product-prev__val  для чая
                        .product-prev__line__price
                            span.product-prev__price 9155 &#8381;
                            .product-price__availability
                                +icon('clock')
                                span Под заказ
                        .product-prev__line-action
                            .product-prev__favorite
                                +icon('heart')
                                span В избранное
                            .product-prev__compare
                                +icon('scales')
                                span Сравнить
                        .product-prev__btn
                            a(href="#").g-btn.g-btn__black В корзину
                .product-prev
                    img(src="assets/img/products/product3/prev.jpeg", alt="").product-prev__img
                    .product-prev__content
                        a(href="#").product-prev__title Блендер погружной Six,, SFB 555, STADLER FORM M&T
                        .product-prev__line-info
                            span.product-prev__key Материал:
                            span.product-prev__val  хрустальное стекло
                        .product-prev__line-info
                            span.product-prev__key Высота:
                            span.product-prev__val  22.9 см
                        .product-prev__line-info
                            span.product-prev__key Диаметр:
                            span.product-prev__val  9.1 см
                        .product-prev__line-info
                            span.product-prev__key Назначение:
                            span.product-prev__val  для кухни
                        .product-prev__line__price
                            span.product-prev__price 9990 &#8381;
                            .product-price__availability
                                +icon('check')
                                span Есть в наличии
                        .product-prev__line-action
                            .product-prev__favorite
                                +icon('heart')
                                span В избранное
                            .product-prev__compare
                                +icon('scales')
                                span Сравнить
                        .product-prev__btn
                            a(href="#").g-btn.g-btn__black В корзину
                .product-prev
                    img(src="assets/img/products/product4/prev.jpeg", alt="").product-prev__img
                    .product-prev__content
                        a(href="#").product-prev__title Блюдо Smily, EVA SOLO
                        .product-prev__line-info
                            span.product-prev__key Материал:
                            span.product-prev__val  хрустальное стекло
                        .product-prev__line-info
                            span.product-prev__key Высота:
                            span.product-prev__val  22.9 см
                        .product-prev__line-info
                            span.product-prev__key Диаметр:
                            span.product-prev__val  9.1 см
                        .product-prev__line-info
                            span.product-prev__key Назначение:
                            span.product-prev__val  для подарка
                        .product-prev__line__price
                            span.product-prev__price 8200 &#8381;
                            .product-price__availability
                                +icon('clock')
                                span Под заказ
                        .product-prev__line-action
                            .product-prev__favorite
                                +icon('heart')
                                span В избранное
                            .product-prev__compare
                                +icon('scales')
                                span Сравнить
                        .product-prev__btn
                            a(href="#").g-btn.g-btn__black В корзину
                .product-prev
                    img(src="assets/img/products/product1/prev.jpeg", alt="").product-prev__img
                    .product-prev__content
                        a(href="#").product-prev__title Набор бокалов для красного вина серия Frau, SHOTT ZWISSEL
                        .product-prev__line-info
                            span.product-prev__key Материал:
                            span.product-prev__val  хрустальное стекло
                        .product-prev__line-info
                            span.product-prev__key Высота:
                            span.product-prev__val  22.9 см
                        .product-prev__line-info
                            span.product-prev__key Диаметр:
                            span.product-prev__val  9.1 см
                        .product-prev__line-info
                            span.product-prev__key Назначение:
                            span.product-prev__val  для красного вина
                        .product-prev__line__price
                            span.product-prev__price 635 &#8381;
                            .product-price__availability
                                +icon('check')
                                span Есть в наличии
                        .product-prev__line-action
                            .product-prev__favorite
                                +icon('heart')
                                span В избранное
                            .product-prev__compare
                                +icon('scales')
                                span Сравнить
                        .product-prev__btn
                            a(href="#").g-btn.g-btn__black В корзину
                .product-prev
                    img(src="assets/img/products/product2/prev.jpeg", alt="").product-prev__img
                    .product-prev__content
                        a(href="#").product-prev__title Набор чайный "Ричоло" Chinelly
                        .product-prev__line-info
                            span.product-prev__key Материал:
                            span.product-prev__val  хрустальное стекло
                        .product-prev__line-info
                            span.product-prev__key Высота:
                            span.product-prev__val  22.9 см
                        .product-prev__line-info
                            span.product-prev__key Диаметр:
                            span.product-prev__val  9.1 см
                        .product-prev__line-info
                            span.product-prev__key Назначение:
                            span.product-prev__val  для чая
                        .product-prev__line__price
                            span.product-prev__price 9155 &#8381;
                            .product-price__availability
                                +icon('clock')
                                span Под заказ
                        .product-prev__line-action
                            .product-prev__favorite
                                +icon('heart')
                                span В избранное
                            .product-prev__compare
                                +icon('scales')
                                span Сравнить
                        .product-prev__btn
                            a(href="#").g-btn.g-btn__black В корзину
                .product-prev
                    img(src="assets/img/products/product3/prev.jpeg", alt="").product-prev__img
                    .product-prev__content
                        a(href="#").product-prev__title Блендер погружной Six,, SFB 555, STADLER FORM M&T
                        .product-prev__line-info
                            span.product-prev__key Материал:
                            span.product-prev__val  хрустальное стекло
                        .product-prev__line-info
                            span.product-prev__key Высота:
                            span.product-prev__val  22.9 см
                        .product-prev__line-info
                            span.product-prev__key Диаметр:
                            span.product-prev__val  9.1 см
                        .product-prev__line-info
                            span.product-prev__key Назначение:
                            span.product-prev__val  для кухни
                        .product-prev__line__price
                            span.product-prev__price 9990 &#8381;
                            .product-price__availability
                                +icon('check')
                                span Есть в наличии
                        .product-prev__line-action
                            .product-prev__favorite
                                +icon('heart')
                                span В избранное
                            .product-prev__compare
                                +icon('scales')
                                span Сравнить
                        .product-prev__btn
                            a(href="#").g-btn.g-btn__black В корзину
                .product-prev
                    img(src="assets/img/products/product4/prev.jpeg", alt="").product-prev__img
                    .product-prev__content
                        a(href="#").product-prev__title Блюдо Smily, EVA SOLO
                        .product-prev__line-info
                            span.product-prev__key Материал:
                            span.product-prev__val  хрустальное стекло
                        .product-prev__line-info
                            span.product-prev__key Высота:
                            span.product-prev__val  22.9 см
                        .product-prev__line-info
                            span.product-prev__key Диаметр:
                            span.product-prev__val  9.1 см
                        .product-prev__line-info
                            span.product-prev__key Назначение:
                            span.product-prev__val  для подарка
                        .product-prev__line__price
                            span.product-prev__price 8200 &#8381;
                            .product-price__availability
                                +icon('clock')
                                span Под заказ
                        .product-prev__line-action
                            .product-prev__favorite
                                +icon('heart')
                                span В избранное
                            .product-prev__compare
                                +icon('scales')
                                span Сравнить
                        .product-prev__btn
                            a(href="#").g-btn.g-btn__black В корзину
            .recommended-slider__dots
                .recommended-slider__controls.recommended-slider__controls--prev
                    +icon('arrow-left')
                .recommended-slider__controls.recommended-slider__controls--next
                    +icon('arrow-right')