section.catalog-result
      .container
        .catalog-view
            .catalog-view__item
                .catalog-view__img
                    img(src='assets/img/content/product/catalog/product1/prev.jpg', alt='alt')
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .catalog-view__item-slider
                    .js-catalog-view__slider
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                .product-prev__content
                    a.product-prev__title(href='#') Винный шкаф Liebherr WKEes SS3 GrandCru
                    .product-line-info
                        span.product-line-info__key Торговая марка  
                        span.product-line-info__val Liebherr (Германия)
                    .product-prev__line-prise
                        span.product-prev__prise 247 500 ₴
                        .product-availability
                            svg.icon.icon-check
                                use(xlink:href='assets/img/sprite.svg#check')
                            span Есть в наличии
                    .product-prev__btn
                        a.g-btn.g-btn--border-black(href='#') В корззину
            .catalog-view__item
                .catalog-view__img
                    img(src='assets/img/content/product/catalog/product1/prev.jpg', alt='alt')
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .catalog-view__item-slider
                    .js-catalog-view__slider
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                .product-prev__content
                    a.product-prev__title(href='#') Винный шкаф Liebherr WKEes SS3 GrandCru
                    .product-line-info
                        span.product-line-info__key Торговая марка  
                        span.product-line-info__val Liebherr (Германия)
                    .product-prev__line-prise
                        span.product-prev__prise 247 500 ₴
                        .product-availability
                            svg.icon.icon-check
                                use(xlink:href='assets/img/sprite.svg#check')
                            span Есть в наличии
                    .product-prev__btn
                        a.g-btn.g-btn--border-black(href='#') В корззину
            .catalog-view__item
                .catalog-view__img
                    img(src='assets/img/content/product/catalog/product1/prev.jpg', alt='alt')
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .catalog-view__item-slider
                    .js-catalog-view__slider
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                .product-prev__content
                    a.product-prev__title(href='#') Винный шкаф Liebherr WKEes SS3 GrandCru
                    .product-line-info
                        span.product-line-info__key Торговая марка  
                        span.product-line-info__val Liebherr (Германия)
                    .product-prev__line-prise
                        span.product-prev__prise 247 500 ₴
                        .product-availability
                            svg.icon.icon-check
                                use(xlink:href='assets/img/sprite.svg#check')
                            span Есть в наличии
                    .product-prev__btn
                        a.g-btn.g-btn--border-black(href='#') В корззину
            .catalog-view__item
                .catalog-view__img
                    img(src='assets/img/content/product/catalog/product1/prev.jpg', alt='alt')
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .catalog-view__item-slider
                    .js-catalog-view__slider
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                .product-prev__content
                    a.product-prev__title(href='#') Винный шкаф Liebherr WKEes SS3 GrandCru
                    .product-line-info
                        span.product-line-info__key Торговая марка  
                        span.product-line-info__val Liebherr (Германия)
                    .product-prev__line-prise
                        span.product-prev__prise 247 500 ₴
                        .product-availability
                            svg.icon.icon-check
                                use(xlink:href='assets/img/sprite.svg#check')
                            span Есть в наличии
                    .product-prev__btn
                        a.g-btn.g-btn--border-black(href='#') В корззину
            .catalog-view__item
                .catalog-view__img
                    img(src='assets/img/content/product/catalog/product1/prev.jpg', alt='alt')
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .catalog-view__item-slider
                    .js-catalog-view__slider
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                .product-prev__content
                    a.product-prev__title(href='#') Винный шкаф Liebherr WKEes SS3 GrandCru
                    .product-line-info
                        span.product-line-info__key Торговая марка  
                        span.product-line-info__val Liebherr (Германия)
                    .product-prev__line-prise
                        span.product-prev__prise 247 500 ₴
                        .product-availability
                            svg.icon.icon-check
                                use(xlink:href='assets/img/sprite.svg#check')
                            span Есть в наличии
                    .product-prev__btn
                        a.g-btn.g-btn--border-black(href='#') В корззину
            .catalog-view__item
                .catalog-view__img
                    img(src='assets/img/content/product/catalog/product1/prev.jpg', alt='alt')
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .catalog-view__item-slider
                    .js-catalog-view__slider
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                .product-prev__content
                    a.product-prev__title(href='#') Винный шкаф Liebherr WKEes SS3 GrandCru
                    .product-line-info
                        span.product-line-info__key Торговая марка  
                        span.product-line-info__val Liebherr (Германия)
                    .product-prev__line-prise
                        span.product-prev__prise 247 500 ₴
                        .product-availability
                            svg.icon.icon-check
                                use(xlink:href='assets/img/sprite.svg#check')
                            span Есть в наличии
                    .product-prev__btn
                        a.g-btn.g-btn--border-black(href='#') В корззину
            .catalog-view__item
                .catalog-view__img
                    img(src='assets/img/content/product/catalog/product1/prev.jpg', alt='alt')
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .catalog-view__item-slider
                    .js-catalog-view__slider
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                .product-prev__content
                    a.product-prev__title(href='#') Винный шкаф Liebherr WKEes SS3 GrandCru
                    .product-line-info
                        span.product-line-info__key Торговая марка  
                        span.product-line-info__val Liebherr (Германия)
                    .product-prev__line-prise
                        span.product-prev__prise 247 500 ₴
                        .product-availability
                            svg.icon.icon-check
                                use(xlink:href='assets/img/sprite.svg#check')
                            span Есть в наличии
                    .product-prev__btn
                        a.g-btn.g-btn--border-black(href='#') В корззину
            .catalog-view__item
                .catalog-view__img
                    img(src='assets/img/content/product/catalog/product1/prev.jpg', alt='alt')
                    span.g-btn.g-btn--border-black Быстрый просмотр
                .catalog-view__item-slider
                    .js-catalog-view__slider
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                        .catalog-view__slider-item(data-thumb="assets/img/content/product/catalog/product1/prev.jpg")
                            img(data-lazy='assets/img/content/product/catalog/product1/prev.jpg')
                .product-prev__content
                    a.product-prev__title(href='#') Винный шкаф Liebherr WKEes SS3 GrandCru
                    .product-line-info
                        span.product-line-info__key Торговая марка  
                        span.product-line-info__val Liebherr (Германия)
                    .product-prev__line-prise
                        span.product-prev__prise 247 500 ₴
                        .product-availability
                            svg.icon.icon-check
                                use(xlink:href='assets/img/sprite.svg#check')
                            span Есть в наличии
                    .product-prev__btn
                        a.g-btn.g-btn--border-black(href='#') В корззину
        .catalog-nav
            a.g-btn.g-btn__black.g-btn--no-under(href='#') Показать еще
            ul.catalog-pag
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--first(href='#')
                        svg.icon.icon-arrow-left
                            use(xlink:href='assets/img/sprite.svg#arrow-left')
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--prev(href='#')
                        svg.icon.icon-arrow-left
                            use(xlink:href='assets/img/sprite.svg#arrow-left')
                li.catalog-pag__item.active
                    a.catalog-pag__link(href='#')
                        span 1
                li.catalog-pag__item
                    a.catalog-pag__link(href='#')
                        span 2
                li.catalog-pag__item
                    a.catalog-pag__link(href='#')
                        span 3
                li.catalog-pag__item
                    a.catalog-pag__link(href='#')
                        span 4
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--next(href='#')
                        svg.icon.icon-arrow-right
                            use(xlink:href='assets/img/sprite.svg#arrow-right')
                li.catalog-pag__item
                    a.catalog-pag__link.catalog-pag__link--arrows.catalog-pag__link--last(href='#')
                        svg.icon.icon-arrow-right
                            use(xlink:href='assets/img/sprite.svg#arrow-right')