section.advantages
    .container
        h2.g-section-title Преимущества
        .cont-line
            .cont-50
                .advantages-item.advantages-item--best-brands
                    span.advantages-item__title Лучшие бренды
                    p.advantages-item__text Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Родного, власти пор семь текст переписывается снова прямо щеке там одна свое точках что языком. Прямо на берегу по всей диких ему.
            .cont-50
                .cont-line--sub
                    .cont-25
                        .advantages-item.advantages-item--best-quality
                            span.advantages-item__title Отменное качество
                            p.advantages-item__text Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Родного, власти пор семь текст переписывается снова прямо щеке там одна свое точках что языком. Прямо на берегу по всей диких ему.
                    .cont-25
                        .advantages-item.advantages-item--best-guarantee
                            span.advantages-item__title Гарантия
                            p.advantages-item__text Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Родного, власти пор семь текст переписывается снова прямо щеке там одна свое точках что языком. Прямо на берегу по всей диких ему.
                
        .cont-line
            .cont-50
                .cont-line--sub
                    .cont-25
                        .advantages-item.advantages-item--best-quality
                            span.advantages-item__title Отменное качество
                            p.advantages-item__text Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Родного, власти пор семь текст переписывается снова прямо щеке там одна свое точках что языком. Прямо на берегу по всей диких ему.
                    .cont-25
                        .advantages-item.advantages-item--best-guarantee
                            span.advantages-item__title Гарантия
                            p.advantages-item__text Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Родного, власти пор семь текст переписывается снова прямо щеке там одна свое точках что языком. Прямо на берегу по всей диких ему.
                    
            .cont-50
                .advantages-item.advantages-item--genuine-brands
                    span.advantages-item__title Лучшие бренды
                    p.advantages-item__text Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Родного, власти пор семь текст переписывается снова прямо щеке там одна свое точках что языком. Прямо на берегу по всей диких ему.
            
