section.popular
    .container
        h2.g-section-title.g-section-title--white Популярные бренды
        ul.popular-list
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
            li.popular-list__item
                a(href="#").popular-list__link ADHOC
                span.popular-list__country Германия
        a(href="#").g-btn Все бренды