section.video-review
    .container
        h2.g-section-title Видеообзоры
        .video-review__content
            .video-review__item#review1(data-video-id="ysEVskJ4eoI")
                .video-review__img(style="background-image: url('assets/img/content/video-reviews/review1/prev.png')")
                .video-review__play.video-start
                    +icon('youtube')
                .video-review__info
                    span.video-review__date 24 января 2018
                    a(href="#").video-review__link Обзор кухонной техники KitchenAid
            .video-review__item#review2(data-video-id="YRJAL4FyfkU")
                .video-review__img(style="background-image: url('assets/img/content/video-reviews/review2/prev.png')")
                .video-review__play.video-start
                    +icon('youtube')
                .video-review__info
                    span.video-review__date 27 января 2018
                    a(href="#").video-review__link Обзор кухонного комбайна Bosh MCM 5529
        .content-center
            a(href="#").g-btn.g-btn__black Все видеообзоры