section.promo
    .container
        h2.g-section-title Акции
        .promo-wrap
            .promo-news-prev
                .promo-news-prev__img(style="background-image: url('assets/img/content/promo/promo1/promo1_prev.jpeg')")
                .promo-news-prev__content
                    span.promo-news-prev__date 01 сентября 2017
                    a(href="#").promo-news-prev__title Кухонный процессор KitchenAid: разбираем на детали
                    p.promo-news-prev__text Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Она лучше, вскоре составитель деревни путь пустился по всей запятой языком языкового свое рукописи всемогущая возвращайся прямо за! Снова, скатился она.
            .promo-news-prev
                .promo-news-prev__img(style="background-image: url('assets/img/content/promo/promo2/promo2_prev.jpeg')")
                .promo-news-prev__content
                    span.promo-news-prev__date 01 сентября 2017
                    a(href="#").promo-news-prev__title MELIOR - ЗНАЧИТ ЛУЧШЕ
                    p.promo-news-prev__text Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Она лучше, вскоре составитель деревни путь пустился по всей запятой языком языкового свое рукописи всемогущая возвращайся прямо за!
            .promo-news-prev
                .promo-news-prev__img(style="background-image: url('assets/img/content/promo/promo3/promo3_prev.jpeg')")
                .promo-news-prev__content
                    span.promo-news-prev__date 01 сентября 2017
                    a(href="#").promo-news-prev__title Fissler - технологии будущего на вашей кухне
                    p.promo-news-prev__text Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Она лучше, вскоре составитель деревни путь пустился по всей запятой языком языкового.
            .promo-news-prev
                .promo-news-prev__img(style="background-image: url('assets/img/content/promo/promo4/promo4_prev.jpeg')")
                .promo-news-prev__content
                    span.promo-news-prev__date 01 сентября 2017
                    a(href="#").promo-news-prev__title До чего дошел прогресс. Современные аксессуары для вина
                    p.promo-news-prev__text Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Она лучше, вскоре составитель деревни путь пустился по всей запятой языком языкового свое рукописи всемогущая возвращайся прямо за! Снова, скатился она свое рукописи всемогущая возвращайся прямо за! Снова, скатился она.
        .content-center
            a(href="#").g-btn.g-btn__black Все акции