section.subscribe
    .container
        h2.g-section-title.g-section-title--white Подпишитесь на  новости
        .subscribe-form--wrap
            .subscribe-form--content
                form.subscribe-form
                    label.g-label Ваш-email
                    input(type="email").g-input.g-input-email
                    input(type="submit", value="Подписаться").g-btn.g-btn--no-under
                p.subscribe-text Раз в неделю мы рассказываем о поступлении новых товаров