section.ulseen
    .container
        h2.g-section-title Вы недавно смотрели
        .ulsee__content
            .ulsee__item
                img.ulsee__img(src='assets/img/products/ulsee/product1.jpg')
                a.ulsee__link(href='#')
                    | Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
            .ulsee__item
                img.ulsee__img(src='assets/img/products/ulsee/product2.jpg')
                a.ulsee__link(href='#')
                    | Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
            .ulsee__item
                img.ulsee__img(src='assets/img/products/ulsee/product3.jpg')
                a.ulsee__link(href='#')
                    | Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
            .ulsee__item
                img.ulsee__img(src='assets/img/products/ulsee/product4.jpg')
                a.ulsee__link(href='#') Далеко-далеко, за словесными горами в стране гласных.
