.recommended-slider
    .slick-dots
        text-align: center
        margin: 0 20px
        order: 2
        li
            display: inline-block
            margin: 0 5px
            cursor: pointer
.recommended-slider__controls.recommended-slider__controls--prev
    order: 1
.recommended-slider__controls.recommended-slider__controls--next
    order: 3

.slick-active
    .recommended-slider__dot
        background-color: $black-color
.recommended-slider__dot
    display: block
    +dem(13px)
    border: 2px solid $black-color
    border-radius: 50%
.recommended-slider__controls
    +dem(46px)
    background-color: $black-color
    cursor: pointer
    position: relative
    .icon
        +absolute-center()
        +dem(21px, 12px)
        fill: #fff
.recommended-slider__dots
    display: flex
    justify-content: center
    text-align: center
    align-items: center
    margin: 40px 0 0