html
  height: 100%
  font-size: 16px

body
  height: 100%
  margin: 0
  font-family: $regular-font
  line-height: 1.2
  -webkit-font-smoothing: antialiased

section
  position: relative
  padding: 60px 0

.row
  +row-flex
  align-items: flex-end

.g-section-title
  text-align: center
  font-family: $bold-font
  margin-bottom: 40px

.wrapper
  min-height: 100%
  position: relative
  overflow: hidden

ul
  padding: 0
  margin: 0
  list-style: none

p
  margin: 0

h1, h2, h3, h4, h5
  margin-top: 0
  margin-bottom: 0
  font-weight: normal

*
  box-sizing: border-box
a
  color: #000
  text-decoration: none
.container
  +wrapper
.g-btn
  border: 0
  text-align: center
  display: inline-block
  height: 50px
  line-height: 50px
  padding: 0 20px
  background-color: #fff
  text-transform: uppercase
  text-decoration: underline
  position: relative
  z-index: 2
  cursor: pointer
  &--no-under
    text-decoration: none
  &.g-btn__black
    background-color: $black-color
    border: 2px solid $black-color
    color: #fff
    text-decoration: none
  &.g-btn--border-black
    border: 2px solid $black-color
.g-section-title--white
  color: #fff
.g-section-title__product
  margin-bottom: 20px
  text-align: left
.content-center
  text-align: center
.g-input
  height: 50px
  line-height: 50px
  padding: 0 15px
  background-color: transparent
  border: 1px solid #fff
  color: #fff
  &:focus
    outline: none
.g-label
  color: #fff
.product-buttons
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 25px
  .g-btn
    width: 48%
.header-nav
  display: flex
  align-items: flex-end
  justify-content: space-between
  padding-bottom: 30px
  flex: 1
.header-nav__user--item
  text-align: center
  margin-left: 25px
  margin-bottom: 0
  &:first-child
      margin-left: 45px

.debug
  +debug(rgba(0,0,0,0.5), 1px solid pink)
  z-index: 10

.g-section-title
  font-family: $bold-font
  +rem(32px)
  margin-bottom: 35px
  text-align: center
  &.g-section-title--white
    color: #fff
.g-section-title--product
  margin-bottom: 20px
