extends ../_template

block variables
  - var title = 'Kitchen Time'

block content
  //include ../elements/_debug
  include ../common/_hero
  include ../common/_slider
  include ../common/_pic-menu
  include ../common/_section_recommended
  include ../common/_section_popular
  include ../common/_section_video
  //include ../common/_section_actions
  //include ../common/_section_subscribe
  //include ../common/_secton_advantages
  //include ../common/_footer
  
