extends ../_template_common

block variables
  - var title = 'Product Page'

block content
    include ../common/_hero
    include ../elements/_breadcrumbs
    include ../common/_product
    //include ../elements/_product_tabs
    include ../common/_section_recommended
    include ../common/_footer
  
