section.breadcrumbs
    .container
        ul.breadcrumbs-list
            li.breadcrumbs-list__item
                a(href="#").breadcrumbs-list__link Главная
            li.breadcrumbs-list__item
                a(href="#").breadcrumbs-list__link Бар и хрусталь
            li.breadcrumbs-list__item
                a(href="#").breadcrumbs-list__link Бокалы для красного вина