.tab-content__item.tab-reviews
	.product-reviews
		.product-review__line
			.add-review
				.your-review
					span.review-mini-title Ваша оценка
					.review-stars.review-stars--set
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
				a.g-btn.g-btn__black.g-btn--no-under(href='#') Добавить озыв
			.product-review__info
				.review-middle__line
					span.review-mini-title Средняя оценка
					.review-stars
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
					span.review-mini-title.review-mark 4.2
				span.review-count Всего оценки 3
		.review
			.review-photo.review-photo--no
				span Нет фото
			.review-content
				.review-content__top
					span.review-author Уваров Святослав Михайлович
					.review-stars
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
						.review-star
							svg.icon.icon-star
								use(xlink:href='assets/img/sprite.svg#rating-star')
					.review-date
						+icon('calendar')
						span 27 января 2018
				.review-text-block.review-text-block--plus
					.review-comment__title Достоинства
					p.review-text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Взобравшись, предложения! Залетают рот необходимыми он коварных жаренные себя напоивший, послушавшись вопроса обеспечивает предупредила она наш сбить заголовок грустный собрал.
				.review-text-block.review-text-block--minus
					.review-comment__title Недостатки
					p.review-text Нет
		.review
			.review-photo(style='background-image: url("");', data-cms-original-style="background-image: url('assets/img/');")
