.tab-content__item.tab-faq
    .product-faq
        .faq-item
            span.faq__title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дороге власти до там города.
            .faq__content
                p.faq__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все продолжил переписали щеке, наш за силуэт злых образ, пустился осталось единственное проектах гор семантика заголовок пор великий ему точках?
        .faq-item
            span.faq__title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дороге власти до там города.
            .faq__content
                p.faq__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все продолжил переписали щеке, наш за силуэт злых образ, пустился осталось единственное проектах гор семантика заголовок пор великий ему точках?
        .faq-item
            span.faq__title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дороге власти до там города.
            .faq__content
                p.faq__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все продолжил переписали щеке, наш за силуэт злых образ, пустился осталось единственное проектах гор семантика заголовок пор великий ему точках?
        .faq-item
            span.faq__title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дороге власти до там города.
            .faq__content
                p.faq__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все продолжил переписали щеке, наш за силуэт злых образ, пустился осталось единственное проектах гор семантика заголовок пор великий ему точках?
        .faq-item
            span.faq__title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дороге власти до там города.
            .faq__content
                p.faq__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все продолжил переписали щеке, наш за силуэт злых образ, пустился осталось единственное проектах гор семантика заголовок пор великий ему точках?
        .faq-item
            span.faq__title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дороге власти до там города.
            .faq__content
                p.faq__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все продолжил переписали щеке, наш за силуэт злых образ, пустился осталось единственное проектах гор семантика заголовок пор великий ему точках?
        .faq-item
            span.faq__title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дороге власти до там города.
            .faq__content
                p.faq__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все продолжил переписали щеке, наш за силуэт злых образ, пустился осталось единственное проектах гор семантика заголовок пор великий ему точках?
        .faq-item
            span.faq__title Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Дороге власти до там города.
            .faq__content
                p.faq__text Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все продолжил переписали щеке, наш за силуэт злых образ, пустился осталось единственное проектах гор семантика заголовок пор великий ему точках?
        