.tab-content__item.tab-articles
	.product-articles
		.product-articles__item
			.product-articles__img(style="background-image: url('assets/img/content/articles/article1/prev.jpg');")
			.product-articles__content
				.product-article__date
					svg.icon.icon-calendar
						use(xlink:href='assets/img/sprite.svg#calendar')
					span 3 октября 2017
				h2.g-black-title Скороварка - готовим соки на зиму
				p.product-article__text
					| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Моей не пунктуация единственное текстами? Деревни, что единственное? Безопасную образ строчка продолжил жаренные возвращайся, букв переписывается страну текст взобравшись имеет.
				a.product-article__link(href='#') Подробнее
		.product-articles__item
			.product-articles__img(style="background-image: url('assets/img/content/articles/article2/prev.jpg');")
			.product-articles__content
				.product-article__date
					svg.icon.icon-calendar
						use(xlink:href='assets/img/sprite.svg#calendar')
					span 3 октября 2017
				h2.g-black-title Скороварка - готовим соки на зиму
				p.product-article__text
					| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Моей не пунктуация единственное текстами? Деревни, что единственное? Безопасную образ строчка продолжил жаренные возвращайся, букв переписывается страну текст взобравшись имеет.
				a.product-article__link(href='#') Подробнее
		.product-articles__item
			.product-articles__img(style="background-image: url('assets/img/content/articles/article3/prev.jpg');")
			.product-articles__content
				.product-article__date
					svg.icon.icon-calendar
						use(xlink:href='assets/img/sprite.svg#calendar')
					span 3 октября 2017
				h2.g-black-title Скороварка - готовим соки на зиму
				p.product-article__text
					| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Моей не пунктуация единственное текстами? Деревни, что единственное? Безопасную образ строчка продолжил жаренные возвращайся, букв переписывается страну текст взобравшись имеет.
				a.product-article__link(href='#') Подробнее
